<footer class="site-footer">
    <a href="/"><img style="height: 57px; width: 57px"src="public/image.png" alt="Логотип"> </a>
    <a href="/">floricia</a>
    <h3>Меню</h3>
    <ul>
      <li><a href="/about">О нас</a></li>
      <li><a href="/catalog">Каталог</a></li>
      <li><a href="/delivery">Доставка и оплата</a></li>
      <li><a href="/reviews">Отзывы</a></li>
      <li><a href="/contacts">Контакты</a></li>
    </ul>
    <h3>Покупателям</h3>
    <ul>
      <li><a href="public-offer.pdf" target="_blank">Публичная оферта</a></li>
      <li><a href="garantees.pdf" target="_blank">Гарантии</a></li>
      <li><a href="privacy-policy.pdf" target="_blank">Политика конфедициальности</a></li> 
    </ul>
    <h3>Инвесторам</h3>
    <ul>
      <li><a href="tenders.pdf" target="_blank">Тендеры</a></li>
      <li><a href="for_suppliers.pdf" target="_blank">Поставщикам</a></li>
      <li><a href="document_flow.pdf" target="_blank">Документооборот</a></li> 
    </ul>
    <ul>
      <li><a href="telegram.com"><img style="height: 40px; width: 40px"src="public/telegram.png" alt="Телеграмм магазина"> </a></li>
      <li><a href="instagram.com"><img style="height: 40px; width: 40px"src="public/instagram.png" alt="Инстаграмм магазина"> </a></li>
      <li><a href="whatsapp.com"><img style="height: 40px; width: 40px"src="public/whatsapp.png" alt="Телефон для связи"> </a></li>
    </ul>
</footer>