<header class="site-header">
  <div style="display: flex; align-items: center; gap: 16px;">
    <a class="site-header-logo1" href="/"><img style="height: 57px; width: 57px"src="public/image.png" alt="Логотип"> </a>
    <a class="site-header-logo" href="/"> floricia </a>
  </div>
  <ul class="site-header-menu">
    <li><a href="/about">О нас</a></li>
    <li><a href="/catalog">Каталог</a></li>
    <li><a href="/delivery">Доставка и оплата</a></li>
    <li><a href="/reviews">Отзывы</a></li>
    <li><a href="/contacts">Контакты</a></li>
  </ul>
  <div slyle="margin-left: 20px; margin-right: 30px;">
    <a href ="search"><img style="height:30px; width: 30px; margin-left: 30px" src="public/search.png" alt="Поиск"></a>
    <a href ="busket"><img style="height:34px; width: 34px; margin-left: 30px" src="public/busket.png" alt="Корзина"></a>
    <a href ="profile"><img style="height:38px; width: 38px; margin-left: 30px; margin-right: 50px" src="public/profile.png" alt="Профиль"></a>
  </div>
</header>